/*
    Document   : _our-models.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.our-models {
  background-color: #f2e8e2;
  padding-top: 130px;
  position: relative;

  .header {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: -8%;
    width: 100%;
  }

  .title {
    color: #0a3e3a;
    line-height: 100%;
    opacity: 0.08;
  }

  .col-sm-6:first-child {
    .model {
      margin-left: auto;
    }
  }

  .model {
    background-color: #00524c;
    color: #fff;
    max-width: 360px;
    padding: 10px 10px 25px;

    .image {
      margin-bottom: 30px;
    }

    .name {
      color: #ee7623;
      font-family: "MC Milton";
      font-size: 26px;
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    .desc {
      text-align: center;
    }
  }

  .logo {
    margin: 40px auto 0;
    max-width: 49px;
  }
}

@media screen and (max-width: 767px) {
  .our-models {
    padding-top: 100px;

    .col-sm-6:first-child {
      .model {
        margin: 0 auto 50px;
      }
    }

    .header {
      top: -5%;
    }

    .model {
      margin: 0 auto;
    }
  }
}
