/*
    Document   : _products-and-services.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.products-and-services {
  padding: 130px 0 300px;
  position: relative;

  .header {
    max-width: 454px;
    transform: translate(0, -130%);
  }

  .title {
    color: #0a3e3a;
    line-height: normal;
    opacity: 0.08;
    text-align: initial;
  }

  .col-sm-4 {
    position: relative;
    &::before {
      border-left: 1px solid #00524c;
      content: "";
      display: block;
      height: 90px;
      left: 0;
      position: absolute;
      top: 110px;
    }
    &:first-child::before {
      content: normal;
    }
  }

  .card {
    margin: 0 auto;
    max-width: 260px;

    .icon {
      margin: 0 auto 40px;
      max-width: 86px;
    }

    .text {
      font-family: "Gotham Medium";
      text-align: center;
      text-transform: uppercase;
    }
  }

  .bg {
    background: no-repeat 120% 80% url("../images/services-bg.svg");
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

@media screen and (max-width: 767px) {
  .products-and-services {
    padding: 30px 0 100px;

    .header {
      transform: none;
    }

    .col-sm-4 {
      position: relative;
      &::before {
        content: normal;
      }

      &:last-child {
        .card {
          margin: 0 auto;
        }
      }
    }

    .card {
      margin: 0 auto 75px;
    }

    .bg {
      background-size: contain;
    }
  }
}
