/*
    Document   : _showroom.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.showroom {
  background-color: #000;
  padding: 240px 0;
  position: relative;
  z-index: 1;

  .text {
    color: #fff;
    font-size: 35px;
    margin: 0 auto;
    max-width: 530px;
    text-align: center;
    text-transform: uppercase;
  }

  .bg {
    background: no-repeat center center url("../images/showroom-image.jpg");
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .decoration {
    bottom: -20%;
    left: 10%;
    max-width: 94px;
    position: absolute;
    width: 16%;
  }
}

@media screen and (max-width: 767px) {
  .showroom {
    .text {
      font-size: 27px;
    }
  }
}
