/*
    Document   : _us.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.us {
  padding: 0 0;

  &.halves {
    .half {
      padding-bottom: 230px;
      padding-top: 230px;
    }
  }

  .carrousel {
    max-width: 407px;
  }

  .swiper-pagination {
    margin-top: 15px;
    position: static;
  }

  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      background-color: transparent;
      border: 1px solid #EE7623;
      margin: 0 5px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #EE7623;
    }
  }

  .wrapper {
    margin-left: auto;
    max-width: 479px;
    padding-bottom: 40px;
    position: relative;
    &::after {
      border-bottom: 2px solid #ee7623;
      bottom: 0;
      content: "";
      display: block;
      left: 50%;
      margin-left: -25px;
      position: absolute;
      width: 50px;
    }
  }

  .logo {
    margin: 0 auto 20px;
    max-width: 69px;
  }

  .text {
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .us {
    &.halves {
      .half {
        padding-bottom: 50px;
        padding-top: 50px;
      }
    }

    .carrousel,
    .wrapper {
      margin: 0 auto;
    }

    .logo {
      max-width: 49px;
    }

    .text {
      font-size: 14px;
    }
  }
}
