/*
    Document   : styles.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/

@font-face {
  font-family: "MC Milton";
  src: url("../fonts/MCMiltonRegular.eot");
  src: url("../fonts/MCMiltonRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MCMiltonRegular.woff2") format("woff2"), url("../fonts/MCMiltonRegular.woff") format("woff"),
    url("../fonts/MCMiltonRegular.ttf") format("truetype"),
    url("../fonts/MCMiltonRegular.svg#MCMiltonRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/GothamMedium.eot");
  src: url("../fonts/GothamMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamMedium.woff2") format("woff2"), url("../fonts/GothamMedium.woff") format("woff"),
    url("../fonts/GothamMedium.ttf") format("truetype"), url("../fonts/GothamMedium.svg#GothamMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"),
    url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;

  &.no-scroll {
    overflow: hidden;
  }
}

.holder {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

/* Outer wrapper */
.outer-wrapper {
  position: relative;
}

/* Block */
.block {
  padding: 65px 0;

  .header {
    margin-bottom: 35px;
  }

  .title {
    font-family: "MC Milton";
    font-size: 64px;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  /* Block Halves */
  &.halves {
    padding: 0 0;
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: -1;
    }

    &::before {
      background-color: #00524c;
      left: 0;
    }

    &::after {
      background-color: #f2e8e2;
      right: 0;
    }

    &.halves-inverted {
      &::before {
        left: auto;
        right: 0;
      }

      &::after {
        left: 0;
        right: auto;
      }
    }

    .half {
      padding-bottom: 65px;
      padding-top: 65px;
    }
  }
}

@media screen and (max-width: 767px) {
  /* Outer wrapper */
  .outer-wrapper {
    margin-bottom: 50px;
  }

  /* Block */
  .block {
    .title {
      // font-size: 48px;
      font-size: 43px;
    }

    &.halves {
      &::before,
      &::after {
        content: none;
      }

      .half {
        position: relative;

        &:first-child::before,
        &:last-child::before {
          content: "";
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }

        &:first-child {
          &::before {
            background-color: #00524c;
          }
        }

        &:last-child {
          &::before {
            background-color: #f2e8e2;
          }
        }
      }

      &.halves-inverted {
        .half {
          &:first-child {
            &::before {
              background-color: #f2e8e2;
            }
          }

          &:last-child {
            &::before {
              background-color: #00524c;
            }
          }
        }
      }
    }
  }
}

@import "components/navigation";
@import "components/contact-form";
@import "components/footer";
@import "components/contact-btns";

@import "sections/cover";
@import "sections/our-story";
@import "sections/video-ribbon";
@import "sections/us";
@import "sections/products-and-services";
@import "sections/our-models";
@import "sections/showroom";
@import "sections/contact";
