/*
    Document   : _contact-form.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.contact-form {
  min-height: 150px;

  /* Chrome/Opera/Safari */
  ::-webkit-input-placeholder {
    color: #999;
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
    color: #999;
  }
  /* IE 10+ */
  :-ms-input-placeholder {
    color: #999;
  }
  /* Firefox 18- */
  :-moz-placeholder {
    color: #999;
  }

  .input-container {
    margin-bottom: 15px;
  }

  input[type="text"],
  select,
  textarea {
    appearance: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #00524C;
    border-radius: 0;
    display: block;
    margin-bottom: 5px;
    outline: none;
    padding: 5px;
    width: 100%;
  }

  textarea {
    height: 120px;
    resize: none;
  }

  label {
    color: #00524C;
    font-size: 10px;
    font-weight: normal;
  }

  input[type="submit"] {
    appearance: none;
    background-color: #00524C;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'MC Milton';
    letter-spacing: 4px;
    margin-left: auto;
    max-width: 125px;
    padding: 8px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}
