/*
    Document   : _footer.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : cesarmejia
    Description:
*/
.footer {
  background-color: #191818;
  color: #fff;
  font-size: 9px;
  padding: 65px 0;

  a {
    color: #fff;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .logo {
    display: block; 
    margin: 0 auto;
    max-width: 51px;
  }

  .copyright {
    text-align: right;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 25px 0;

    .copyright {
      margin-top: 45px;
      text-align: center;
    }
  }
}
